# ============================================
# Python
# ============================================
__pycache__/
*.py[codz]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter / IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store
.cursorignore
.cursorindexingignore

# PyPI / Poetry / PDM / UV
*.lock
poetry.lock
pdm.lock
uv.lock
pixi.lock
.pixi
.pdm-python
.pdm-build
__pypackages__/

# ============================================
# Proyecto: Analisis_de_Musica
# ============================================

# Datos crudos y procesados
data/raw/
data/processed/
*.csv
*.parquet
*.snappy.parquet

# Docker: volúmenes locales
volumes/
docker-volumes/

# Logs y temporales de Spark o Flask
*.log
*.out
*.tmp
spark-warehouse/
metastore_db/

# Secrets locales y llaves
*.key
*.pem
secrets/